# Name used to when creating the container
CONTAINER_NAME=ContainerBoilerplate

# Path to the volumes directory can be found (./ by default).
CONTAINER_ROOT=./

# Docker image and registry
DOCKER_IMAGE_NAME=containerbp
DOCKER_IMAGE_TAG=1.0.0
DOCKER_REMOTE_REGISTRY=registry:5000

# Startup script directories
# EP_SCRIPTS_DIR=/opt/scripts
# EP_RUNPARTS_DIR=/opt/scripts/run-parts
# Name of the start and stop scripts. Do not include extension.
# START_SCRIPT=start
# STOP_SCRIPT=stop
